body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#time{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#time div{
    letter-spacing: 2px;
    margin: 10px 30px;
    background-color: slateblue;
    font-size: 40px;
    padding: 50px;
    text-align: center;
    color: #fff;
    position: relative;
}
#time .txt{
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 25px;
    width: 100%;
    background-color: darkblue;
}
#amPm{
    background-color: green;
    padding: 0px 15px;
    position: absolute;
    font-size: 25px; 
    /* font-weight: bold; */
    color: #fff;
    bottom: 10px;
    right: -50px;
}